header{
    height: 84px;
    padding-top: 10px;
    .container{
       @include mycontainer;
       display: flex;
       justify-content: space-between;
       align-items: center;
       i{
        display: none;
        @media (max-width: 750px) {
            display: inline;
            
        }
       }
        ul{
            width: 600px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media (max-width: 750px) {
                display: none;
            }
            a{
                color: #636060;
                font-family: 'Hedvig Letters Sans', sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.s1{
    width: 100%;
    height: 606px;
    background-image: url("../images/Rectangle 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid red($color: #b11b1b);
    margin-bottom: 84px;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            color: #FFF;
            font-family: 'Hedvig Letters Sans', sans-serif;
            font-size: 79px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 31px;
         }
         h2{
            color: #FFF;
            font-family: 'Hedvig Letters Sans', sans-serif;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
    }
}

.s2{
    margin-bottom: 140px;
    .container{
        @include mycontainer;
        display: flex;
        justify-content: space-between;
        gap: 50px;
      
        div{
            width: 235px;
            h4{
                color: #636060;
                font-family: 'Hedvig Letters Sans', sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 9px;
            }
            h3{
                color: #010101;
                font-family: 'Hedvig Letters Sans', sans-serif;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 37px;

            }
            p{
                color: #636060;
                font-family: 'Hedvig Letters Sans', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
    
        }
        .card{
            width: 924px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            @media (max-width: 880px) {
                display: flex;
                justify-content: flex-end;
            }
            div{
                width: 286px;
                margin-bottom: 56px;

                    img{
                        object-fit: cover;
                    }
                    h5{
                        color: #343232;
                        font-family: 'Hedvig Letters Sans', sans-serif;
                        font-size: 19px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-top: 23px;
                        margin-bottom: 9px;
                    }
                    p{
                        color: #636060;
                        font-family: 'Hedvig Letters Sans', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

            }
        }

        
    }
}